body::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #aaa;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  body::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 4px;
  }
  .btnFloating {
    position: fixed;
    left: 7vw;
    bottom: 13vh;
  
    z-index: 1000;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  }
  
  /* ############ */
  
  th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
  }
  th[scope="row"] {
    position: sticky;
    position: -webkit-sticky;
    left: 0px;
    z-index: 2;
  }
  
  .tabCont {
    padding: 2%;
    height: 65vh;
    overflow-y: scroll;
  }
  tr th {
    background: #fff !important;
    padding: 15px;
  }
  table {
    text-align: center;
    position: relative;
    border-collapse: separated;
    width: 100%;
  }
  th {
    top: -22px;
    position: sticky;
    background: white;
  }
  
  /* Scroll */
  
  .grayScroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .grayScroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .grayScroll::-webkit-scrollbar-thumb:hover {
    background: #bbb;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .grayScroll::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 4px;
  }
  
  .trn-all {
    transition: all .5s;
  }

  .liGrayScroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .liGrayScroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 2px;
  }
  
  .liGrayScroll::-webkit-scrollbar-thumb:hover {
    background: #bbb;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .liGrayScroll::-webkit-scrollbar-track {
    background: #fff0;
    border-radius: 2px;
  }

  .imgCover {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .invisible-input {
    border: none;
    width: 100%;
  }

  .dm-background {
    background-color: #28d8cc;
  }
  .dm-background-2 {
    background-color: #47faee;
  }

  .dm-text {
    color: #00A79D !important;
  }

  .dm-text:disabled {
    color: #c8c8c8 !important;
  }

  .dm-text-light {
    color: #c8c8c8 !important;
  }

  .dm-button {
    background-color: #00A79D !important;
  }

  .dm-button:hover {
    background-color: #009389 !important;
  }
  
  .dm-button-outline {
    border-color: #00A79D !important;
    color: #00A79D !important;
  }

  .dm-button-outline:hover {
    border-color: #009389 !important;
    color: #009389 !important;
  }

  .dm-button-outline:disabled {
    border-color: #c8c8c8 !important;
    color: #c8c8c8 !important;
  }
  
  .dm-button:disabled {
    background-color: #c8c8c8 !important;
  }

  .dm-link a {
    color: #c8c8c8 !important;
  }
  .dm-link a i {
    color: #c8c8c8 !important;
  }
  .dm-link :hover {
    color: #f0f0f0 !important;
  }
  .dm-link :hover .dm-link-icon {
    color: #f0f0f0 !important;
  }